ul{
    list-style:none;
}
#everything {
    color: whitesmoke;
    text-align: justify;
}

html {
    scroll-behavior: smooth
}

body {
    font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
    background-image: url("https://ih1.redbubble.net/image.1105169860.5791/flat,750x1000,075,f.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    -ms-overflow-style: none;

    scrollbar-width: none;

}

body::-webkit-scrollbar {

    display: none;
}

img {
    width: 100%;
    height: default;
}

h1,
h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 45px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}



#navbar {
    width: 100%;
    background-color: mediumpurple;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 2px purple;
    z-index: 5;
}

.nav-content {
    display: flex;
    width: 100%;
    align-items: center;
}

.nav-content .logo {
    display: flex;
    width: 15%;
}

}

.nav-content .logo img {
    width: 100%;
}

.nav-content ul {
    font-size: 18px;
    font-weight: bold;
    padding: 0;
    list-style: none;
    width: 85%;
    display: flex;
    justify-content: flex-end;
}

.nav-content ul li {
    display: inline-block;
    margin-right: 20px;
}

.nav-content ul li:last-child {
    margin-right: 0;
}

.nav-content ul li a {
    text-decoration: none;
    color: #ffffff;
    transition: all .4s ease-in-out;
}

.nav-content ul li a:hover {
    color: white;
    background-color:paleturquoise;
}

#welcome-section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    color: #ffffff;
    transition: all .5s ease-in-out;
}

#welcome-section:hover {
    transform: scale(1.5);
}

#projects {
    background-color: #fff;
    padding: 20px 0;
    min-height: 100vh;
    align-items: center;
    display: flex;
}

#projects .project-tile {
    padding-bottom: 30px;
    padding-top: 73px;
}

#projects .cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

#projects .cards .card {
    display: block;
    width: 100%;
    position: relative;
    transition: all 1s ease-in-out;
}

#projects .card:hover {
    transform: rotate3d(0, 1, .5, 1turn);
    position: relative;
    z-index: 10;
}

#projects .cards .card img {
    width: 100%;
    max-height: 300px;
    height: 100%;
    border-radius: 4px;
}

#projects .cards .card figcaption {
    position: absolute;
    z-index: 2;
    color: #fff;
    font-size: 20px;
    bottom: 0;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    background-color: rgb(0, 0, 0, .8);
}



#contact {
    color: #fff;
    display: flex;
    min-height: 80vh;
    align-items: center;
    text-align: center;
    transition: all .5s ease-in-out;
}

#contact:hover {
    transform: scale(1.5);
}

#contact h2 {
    margin-bottom: 0
}


#contact ul {
    padding: 0;
    font-size: 30px;
    list-style: none;
    width: 100%;
}

#contact ul li {
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 15px;
    transition: all .5s ease-in-out;
}

#contact ul li:last-child {
    margin-right: 0;
}

#contact ul li:hover {
    transform: scale(1.5) rotate(-15deg);
}

#contact ul li a {
    text-decoration: none;
    color: #ffffff;
}


footer {
    width: 100%;
    background-color: #fff;
    border-top: 2px solid #be3144
}

footer .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
}

footer .footer-content .logo {
    min-width: 80px;
    margin-right: 20px;
}

footer .footer-content .logo img {
    width: 100%;
}


@media(min-width: 400px) {
    .nav-content .logo {
        width: 10%;
    }
}

@media (min-width: 600px) {
    .nav-content ul {
        font-size: 24px;
    }

    .nav-content ul li a {
        padding: 46px;
    }

    .nav-content ul li a:hover {
        background-color: #000;
        color: #be3144;
    }

    #projects .cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 900px) {
    #projects .cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
